body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

li {
  padding: 5px;
  background: #f1ebe3;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  background: aqua;
}

.form-group {
}

.change-eaten {
  background: none;
  color: #fff;
  border: 2px solid #727272;
  background-color: #727272;
}

.burger {
  width: 50px;
}
.burger .top-bun {
  height: 12.5px;
  border-radius: 900px 900px 10px 10px;
  background-color: #a27732;
  border-top: 9px solid #906725;
}
.burger .lettuce {
  border-radius: 8px;
  background-color: #80d041;
  height: 1px;
  border-bottom: 3px solid #0f6d12;
}
.burger .tomato {
  border-radius: 12px;
  background-color: #f13233;
  height: 7px;
  border-bottom: 5px solid #940c0e;
}
.burger .onion {
  border-radius: 8px;
  background-color: #b95381;
  height: 2px;
  border-bottom: 4px solid #7e1846;
}
.burger .cheese {
  background-color: #e8ea02;
  border-radius: 10px;
  height: 3px;
  border-bottom: 5px solid #eab902;
}
.burger .beef {
  border-radius: 10px;
  background-color: #603102;
  height: 6px;
  border-bottom: 10px solid #402408;
}
.burger .bottom-bun {
  background-color: #a27732;
  border-radius: 10px 10px 50px 50px;
  height: 12.5px;
  border-bottom: 11px solid #724d12;
}
