<div class="burger">
<div class="top-bun"></div>
<div class="lettuce"></div>
<div class="tomato"></div>
<div class="onion"></div>
<div class="cheese"></div>
<div class="beef"></div>
<div class="bottom-bun"></div>
</div>